<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:8080/worldbuilder</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <property name="connection.username">root</property>
        <property name="connection.password">MySQLPASS2021</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping class="worldbuilder.entity.Continents" />
        <mapping class="worldbuilder.entity.Inventories" />
        <mapping class="worldbuilder.entity.Items" />
        <mapping class="worldbuilder.entity.Locations" />
        <mapping class="worldbuilder.entity.Owners" />
        <mapping class="worldbuilder.entity.Regions" />
        <mapping class="worldbuilder.entity.Shops" />
        <mapping class="worldbuilder.entity.User" />
        <mapping class="worldbuilder.entity.Worlds" />

    </session-factory>

</hibernate-configuration>