<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/worldbuilder</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <property name="connection.username">root</property>
        <property name="connection.password">MySQLPASS2021</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping class="worldbuilder.entity.Continent" />
        <mapping class="worldbuilder.entity.Inventory" />
        <mapping class="worldbuilder.entity.Item" />
        <mapping class="worldbuilder.entity.Location" />
        <mapping class="worldbuilder.entity.Owner" />
        <mapping class="worldbuilder.entity.Region" />
        <mapping class="worldbuilder.entity.Shop" />
        <mapping class="worldbuilder.entity.User" />
        <mapping class="worldbuilder.entity.World" />

    </session-factory>

</hibernate-configuration>